In [2]:
import pandas as pd
datas_list = [10,20,30,40,50]
col=['ราคา']
df = pd.DataFrame(datas_list,columns=col)
df

   ราคา
0    10
1    20
2    30
3    40
4    50

In [2]:
datas_tp = (10,15,20,25,30,35)
cols=['อายุ']
df = pd.DataFrame(datas_tp, columns=cols)
df

   อายุ
0    10
1    15
2    20
3    25
4    30
5    35