In [2]:
import pandas as pd
product=[
    {'Name':'คีย์บอร์ด','gatogery':'IT','price':'500'},
    {'Name':'กีต้าร์','gatogery':'ดนตรี','price':'6500'},
    {'Name':'มือถือ','gatogery':'IT','price':'25000'}
]
df=pd.DataFrame(product)
df

        Name gatogery  price
0  คีย์บอร์ด       IT    500
1    กีต้าร์    ดนตรี   6500
2     มือถือ       IT  25000

In [13]:
df.set_index(["Name",'gatogery','price'],inplace=True )#inplace=True เอา index ออก
df

Empty DataFrame
Columns: []
Index: [(คีย์บอร์ด, IT, 500), (กีต้าร์, ดนตรี, 6500), (มือถือ, IT, 25000)]

In [17]:
# import file เข้ามาแสดงโดย กำหนด column ให้กับข้อมูล
colsName=['Name','gatagery','price']
pd.read_csv('export2.csv',encoding='utf-8',names=colsName)

        Name gatagery  price
0  คีย์บอร์ด       IT    500
1    กีต้าร์    ดนตรี   6500
2     มือถือ       IT  25000

In [9]:
col=['Name','price']
pd.read_csv('export1.csv',encoding='utf-8',usecols=col) #usecols=col นำบาง column เข้ามาแสดง

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (Temp/ipykernel_4952/4007205074.py, line 2)