In [2]:
import pandas as pd
df = pd.read_excel('dataupdate.xlsx','Product')
df

                 Name            Category    Price
0               เมาส์  อุปกรณ์คอมพิวเตอร์    900.0
1               ปากกา     อุปกรณ์การเรียน      NaN
2               โคมไฟ                 NaN      NaN
3            ไมโครโฟน                 NaN    750.0
4       เครื่องซักผ้า     เครื่องใช้ไฟฟ้า      NaN
5       เสื้อยืดคอกลม            เสื้อผ้า    500.0
6         กางเกงยีนต์            เสื้อผ้า      NaN
7       ตุ๊กตาหมีพูห์             ของเล่น    950.0
8                โซฟา        เฟอร์นิเจอร์   5000.0
9                 จาน         เครื่องครัว    250.0
10               ทีวี     เครื่องใช้ไฟฟ้า  15000.0
11              ยางลบ     อุปกรณ์การเรียน      NaN
12  External HardDisk  อุปกรณ์คอมพิวเตอร์   2500.0
13          คีย์บอร์ด  อุปกรณ์คอมพิวเตอร์    850.0
14           รถบังคับ             ของเล่น      NaN

In [7]:
df.Price.max() # ราคาสูงสุด

15000.0

In [8]:
df.Price.min() #ราคาต่ำสุด

250.0

In [9]:
df.Price.mean() #ค่าเฉลี่ย

2966.6666666666665

In [10]:
df.Price.count() #นับ

9

In [12]:
df.Price.std() #ส่วนเบี่ยงเบนมาตราฐาน

4748.025905573811

In [13]:
df.Price.sum() #ผลรวม

26700.0

In [14]:
df.dtypes

Name         object
Category     object
Price       float64
dtype: object

In [6]:
df.Price=df.Price.astype('category') #แปลง datatype จาก float64 เป็น category
df.dtypes

Name          object
Category      object
Price       category
dtype: object