In [22]:
import pandas as pd
datas=[["คีย์บอร์ด","IT",4000],['ตุ๊กตา','ของเล่น',500],["เม้าส์","IT",300],["IPhone 12","mobile",30000],["กีต้าร์","เครื่องดนตรี",7000]]
col=['ชื่อสินค้า','หมวดหมู่','ราคา']

In [23]:
df=pd.DataFrame(datas,columns=col)

In [24]:
df

  ชื่อสินค้า      หมวดหมู่   ราคา
0  คีย์บอร์ด            IT   4000
1     ตุ๊กตา       ของเล่น    500
2     เม้าส์            IT    300
3  IPhone 12        mobile  30000
4    กีต้าร์  เครื่องดนตรี   7000

In [ ]:
# export file csv โดยไม่เอาเลข index
df.to_csv('export4.csv',header=False,index=False)