In [1]:
# เตรียมข้อมูล
import pandas as pd
name=['กีตาร์','เมาส์','เตียงนอน']
gategory=['ดนตรี','IT','เฟอร์นิเจอร์']
price=['5000','400','18000']

In [7]:
#สร้าง series
names = pd.Series(name)
gategory = pd.Series(gategory)
price = pd.Series(price)

In [5]:
#รวมร่างเป็น dataFrame
product={'Name':names,
    'gategory':gategory,
    'price':price}

df= pd.DataFrame(product)
df

       Name      gategory  price
0    กีตาร์         ดนตรี   5000
1     เมาส์            IT    400
2  เตียงนอน  เฟอร์นิเจอร์  18000