In [ ]:
import pandas as pd
product=["คีย์บอร์ด","ตุ๊กตา","เม้าส์"]
category=['IT','ของเล่น',"IT"]
price=[250,500,300]
datas=list(zip(product,category,price))
col=["ชื่อสินค้า","หมวดหมู่","ราคา"]
df=pd.DataFrame(datas,columns=col)
df

  ชื่อสินค้า หมวดหมู่  ราคา
0  คีย์บอร์ด       IT   250
1     ตุ๊กตา  ของเล่น   500
2     เม้าส์       IT   300